/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.digit-box {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 3rem;
  padding: 20px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}